<div class="banner" style="background-image: url('<%= image_path 'banner4.jpg' %>');">
  <div class="banner-content">
    <h1>Drinks for your party</h1>
    <p class="share">Share your best cocktail</p>
  </div>
</div>
