.banner {
  background-size: contain;
  height: 40vh;
}

.banner h1 {
  color: #F4F4F4;
  opacity: 0,5;
  margin-left: 10px;
}

.banner p {
  color: #F4F4F4;
  opacity: 0,5;
  margin-left: 10px;
}

.btn {
  color: #F4F4F4;

  &:hover {
    color: grey;
  }
}
