body {
  background-image: url("https://lh3.googleusercontent.com/proxy/3IiBRPgb0bIkDxvTMxb4qyDFRwFKpfyxnC0BfAmBXs0eCQZbozklgnYpaEwTtXrIUlEPoAVzVsVmajUGKFy-uMZWDfNGhOtINrtutscYyiuKVYy4slKFwKVRZmZKy_DIjruxDuS6WP6tLiB44fHd");
  background-size: cover;
}

.add {
  color: #F4F4F4;
}

.form-inputs {
  color: #F4F4F4;
}
