body {
  background-image: url("https://image.freepik.com/fotos-gratis/mesa-de-madeira-com-fundo-borrado_1253-54.jpg");
  background-size: cover;
}

.add {
  color: #242426;
  text-shadow: 2px 2px 4px grey;
}

.form-inputs {
  color: #242426;
}
