.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F4F4F4;
  font-size: 28px;
  font-weight: regular;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-shadow: 2px 2px 4px grey;

  &:hover {
    height: 182px;
    box-shadow: 0 0 15px;
  }
}

.card-no-image {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F4F4F4;
  font-size: 28px;
  font-weight: regular;
  border-radius: 5px;
}


.link_card {
  color: #F4F4F4;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 0.75;

  &:hover {

    text-decoration: none;
    color: #F4F4F4;
    opacity: 0.99;

  }
}
